<tr>
    <td>
        <!-- container -->
        <table class="table1" width="600" align="center" border="0" cellspacing="0" cellpadding="0"
            style="margin: 0 auto;background-color: #222e3c;color: #3c3c3c;border-top: 1px solid #ededed;box-shadow: inset 0px 2px 5px rgb(0 0 0 / 15%);">
            <tr>
                <td>
                    <!--  column-1 -->
                    <table class="table1-2" align="center" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td height="10"></td>
                        </tr>
                        <tr>
                            <td mc:edit="text003" align="center" class="text_color_282828"
                                style="color: #ffffff; font-size: 13px; line-height: 2; font-weight: 500; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
                                <div class="editable-text" style="line-height: 2;">
                                    <span class="text_container">
                                        <p>
                                            Contact: nilkantdiamond@gmail.com
                                        </p>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <!-- END column-1 -->
                </td>
            </tr>
            

           
            <!-- padding-bottom -->
            <tr>
                <td height="20"></td>
            </tr>
        </table>
        <!-- END container -->
    </td>
</tr>
</tbody>
</table>
<!-- END wrapper -->
</body>

</html>
